# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

pool:
  vmImage: 'VS2017-Win2016'

variables:
  solution: 'MaterialDesignToolkit.Wpf.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'AppVeyor'
  mdixVersion: 2.6.0
  mdixMahAppsVersion: 0.0.13
  mdixColorsVersion: 1.1.4
  foo: /property:MDIX_CORE_VERSION=$(mdix_version).variables.BuildID /property:MDIX_COLORS_VERSION=$(mdix_colors_version).$(BuildID) /property:MDIX_MAHAPPS_VERSION=$(mdix_mahapps_version).$(BuildID)

steps:
- powershell: .paket\paket.exe restore

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    msbuildArgs: '$(foo)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
