source https://nuget.org/api/v2
framework: auto-detect

nuget MahApps.Metro
nuget Dragablz ~> 0.0.3
nuget Moq ~> 4.7
nuget NSubstitute ~> 2.0
nuget RhinoMocks 3.6.1
nuget Shouldly ~> 2.8
nuget xunit ~> 2.2
nuget xunit.runner.visualstudio ~> 2.4
nuget ShowMeTheXAML ~> 1.0.10
nuget ShowMeTheXAML.AvalonEdit ~> 1.0.10
nuget ShowMeTheXAML.MSBuild ~> 1.0.10

github ControlzEx/ControlzEx:e641c9e9346d7ae8c21ca1bf7fa5fb1b86496baa src/ControlzEx/PopupEx.cs
github ControlzEx/ControlzEx:e641c9e9346d7ae8c21ca1bf7fa5fb1b86496baa src/ControlzEx/PackIconBase.cs
github ControlzEx/ControlzEx:e641c9e9346d7ae8c21ca1bf7fa5fb1b86496baa src/ControlzEx/BadgedEx.cs
github samueldjack/VirtualCollection:e63d891c252c2ac1a3ebb26dddb9a3d89effe3f2 VirtualCollection/VirtualCollection/VirtualizingWrapPanel.cs
