source https://nuget.org/api/v2
framework: net45, net452, net472, netcoreapp3.1

nuget MahApps.Metro ~> 2.0.0
nuget Dragablz ~> 0.0.3
nuget NuGet.CommandLine
nuget Shouldly ~> 3.0
nuget System.Net.Http >= 4.0
nuget xunit ~> 2.4
nuget xunit.runner.visualstudio ~> 2.4
nuget Xunit.StaFact ~> 1.0.11-beta
nuget ShowMeTheXAML ~> 2.0.0.0
nuget ShowMeTheXAML.AvalonEdit ~> 2.0.0.0
nuget ShowMeTheXAML.MSBuild ~> 2.0.0.0

nuget Microsoft.CSharp ~> 4.6.0
nuget Microsoft.NETCore.Platforms ~> 3.1.0
nuget Microsoft.NET.Test.Sdk ~> 16.6.1

github ControlzEx/ControlzEx:e641c9e9346d7ae8c21ca1bf7fa5fb1b86496baa src/ControlzEx/PopupEx.cs
github ControlzEx/ControlzEx:e641c9e9346d7ae8c21ca1bf7fa5fb1b86496baa src/ControlzEx/BadgedEx.cs
github samueldjack/VirtualCollection:e63d891c252c2ac1a3ebb26dddb9a3d89effe3f2 VirtualCollection/VirtualCollection/VirtualizingWrapPanel.cs