<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net45" />
  <package id="ShowMeTheXAML" version="1.0.10" targetFramework="net45" />
  <package id="ShowMeTheXAML.AvalonEdit" version="1.0.10" targetFramework="net45" />
  <package id="ShowMeTheXAML.MSBuild" version="1.0.10" targetFramework="net45" />
</packages>