html,
body {
	width: 100%;
    height: auto;    
    padding: 0px 16px 16px 16px;
    margin: 0px auto;
	font-family: 'Roboto', sans-serif;	
    background: #fafafa;
}

#header{
    width: 100%;    
    height: 140px;
    overflow: hidden; 
    position: fixed;
    background: #fafafa;
    z-index: 1;
}

#huesContainer{
    width: 210px;
    height: 700px;
    padding-left: 8px;
    padding-top: 140px; 
    overflow:hidden;  
    position:fixed;    
    background: #fafafa;
    right:0px;
}

#swatchesScroller{
    height: auto;   
    padding-top: 140px;     
    margin-right: 210px;
    padding-bottom: 30px;
    overflow: auto;  //code added
 }

.swatch {
	margin: 8px;
	display: inline-block;
}
.swatchColor {
	padding: 2px 20px 8px 2px;	
	font-size: 80%;
}