name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  configuration: Release
  solution: MaterialDesignToolkit.Full.sln
  #baseVersion: 0.1.1
  #preRelease: true

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore ${{ env.solution }}
    - name: Build
      run: dotnet build ${{ env.solution }} --configuration ${{ env.configuration }} --no-restore
    - name: Test
      run: dotnet test ${{ env.solution }} --no-build --verbosity normal
