name: Pull Request Verification

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

defaults:
  run:
    shell: pwsh

jobs:
  build:
    name: Build artifacts
    uses: ./.github/workflows/build_artifacts.yml
    with:
      mdix-version: "0.0.0"
      mdix-colors-version: "0.0.0"
      mdix-mahapps-version: "0.0.0"

  automerge:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3.10.1  
