name: Pull Request Verification

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  solution: MaterialDesignToolkit.Full.sln
  buildConfiguration: 'Release'

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build and Test
      uses: ./.github/actions/build-and-test
      timeout-minutes: 20
      with:
        solution: ${{ env.solution }}
        buildConfiguration: ${{ env.buildConfiguration }}
        nugetKey: ${{ secrets.PAT }}

  automerge:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3.4.0  